@page
@using PokemonTCGTrades.Pages
@model IndexModel
@{
    ViewData["Title"] = "Guide";
}
<div class="text-center">
    <h1 class="pagename">@ViewData["Title"]</h1><hr />


    Card Condition<hr />
    <div class="reg">
        <strong>Near Mint (NM)</strong> -- Cards in near mint condition show insignificant or no wear from gentle play, and are barely distinguishable from undamaged cards right out of a pack. The cards are tournament playable.</td>

        <br /><strong>Slightly Played (SP)</strong> --
        Cards in slightly played condition show minor wear from typical play, but are clearly distinguishable from undamaged cards right out of a pack. The cards are tournament playable.</td>
        <br /><strong>Moderately Played (MP)</strong> --
        Cards in moderately played condition show obvious wear from typical play and are easily distinguishable from undamaged cards right out of a pack. The cards are tournament playable.</td>
        <br /><strong>Heavily Played (HP)</strong> --
        Cards in heavily played condition show significant wear from typical play and are very easily distinguishable from undamaged cards right out of a pack. The cards are not tournament playable without sleeves.</td>
    </div>
    <hr />
</div>
